torch>=2.1.2
torchvision
torchaudio
tqdm
datasets
scikit-learn==1.5.2
transformers
timm
accelerate
sentencepiece
protobuf
# pymp-pypi - removed: buggy library (pymp.Parallel doesn't process all elements)
#numpy
matplotlib
#pandas
#scikit_learn
pytest
#torchinfo
#torchmetrics
#einops
#black>=22.6
#coverage>=6
#darglint>=1.8
#isort>=5.10
#pre-commit>=2.20
pytest-cov>=3
seaborn
SciencePlots
#scikit-image
#codecov
jupyter
loguru
#opencv-python
PyTurboJPEG
torchinfo
torchmetrics
wandb
opencv-python
deepspeed
gdown
h5py
av
easydict
termcolor
GPUtil
umap-learn
cca-zoo==2.5.0
peft
#faiss-gpu
decord
ftfy
tables
zarr
